section.form-section
    .container
        .title
            h2.title.title__header Get Your Facebook Analysis Now
            .title__text Enter Your detail below
        .btn-down: a.arrow-down: i.fa.fa-angle-down

        .form__container
            form(method="post" action="#").form
                button(type="button").form__close-button x
                .form__text.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Quas deleniti animi voluptatem quod asperiores voluptates 
                    facere aliquam dolor natus eaque.
                .form__fields
                    input.form__input(type="text" placeholder="Your Name")
                    input.form__input(type="text" placeholder="Contact Number")
                    input.form__input(type="text" placeholder="Contact Name")

                button(ttype="submit").button.button--red.button--text-uppercase  Submit now